---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";

const DUMMY_DATA = [
  {
    id: "1",
    text: "Customer Inquiry",
    img: "icons/people.svg",
    color: "orange",
  },
  { id: "2", text: "Quoting", img: "icons/home.svg", color: "black" },
  {
    id: "3",
    text: "Sales Order",
    img: "icons/wifi.svg",
    color: "gray",
  },
  {
    id: "4",
    text: "Project Planning",
    img: "icons/target.svg",
    color: "orange",
  },
  { id: "5", text: "Operations", img: "icons/phone.svg", color: "black" },
  {
    id: "6",
    text: "QA& Inspection",
    img: "icons/cart.svg",
    color: "gray",
  },
  {
    id: "7",
    text: "Project Delivery",
    img: "icons/clock.svg",
    color: "orange",
  },
  {
    id: "8",
    text: "Customer Aftercare",
    img: "icons/home.svg",
    color: "black",
  },
];
---

<!-- in the h1 i want an arrow underneat the process text -->
<Layout title="Assignment">
  <main
    class="h-full p-24 flex justify-center text-center items-center flex-col bg-[#ebebeb]"
  >
    <h1 class="text-black text-xl text-center font-bold font-sans">
      Our P<span class="underline-arrow text-center relative">rocess</span>
    </h1>
    <div
      class="grid grid-cols-3 md:grid-cols-4 gap-2 text-center justify-center items-center place-content-center"
    >
      {
        DUMMY_DATA.map((item) => (
          <>
            <div class="relative flex justify-center items-center mt-10 w-full">
              <div
                class={`absolute -top-[20px] w-[50px] h-[50px] rounded-full bg-white z-10 border-4 border-black border-solid flex justify-center items-center ${item.color === "black" && "border-black"} ${item.color === "orange" && "border-orange-500"} ${item.color === "gray" && "border-[#727272]"}`}
              >
                <span class="text-xl font-extrabold text-[#f1873d] ">
                  {item.id}
                </span>
              </div>
              {Number(item.id) % 2 !== 0 && (
                <div
                  class={`w-[155px] h-[100px] absolute top-0 border-t-4 border-r-4 border-l-4 rounded-t-full ${item.color === "black" && "border-black"} ${item.color === "orange" && "border-orange-500"} ${item.color === "gray" && "border-[#727272]"}`}
                />
              )}
              <Card
                id={item.text.split(" ").join("") + item.id}
                href="/"
                title={item.text}
                img={item.img}
                imgClass={`w-8 h-8 ${item.img === "icons/wifi.svg" && "rotate-[230deg]"}`}
                className="w-[120px] text-black  p-4 bg-white h-[180px] list-none flex flex-col justify-center items-center  px-2 py-8 rounded-full  text-center overflow-hidden mt-5 z-[2] shadow-custom hover:scale-105 transition-all delay-50 "
                linkClass="flex flex-col justify-center items-center rounded-full "
                color={item.color}
              />
              {Number(item.id) % 2 === 0 && (
                <div
                  class={`w-[155px] h-[120px] absolute -bottom-5 border-t-4 border-r-4 border-l-4 rounded-t-full border-black rotate-180 ${item.color === "black" && "border-black"} ${item.color === "orange" && "border-orange-500"} ${item.color === "gray" && "border-[#727272]"} `}
                />
              )}
              <div
                class={`absolute -right-[55px] flex justify-end ${item.id === "8" && "opacity-0 md:opacity-0"} ${item.id === "4" && "opacity-100 md:opacity-0"} ${item.id === "3" && "opacity-0 md:opacity-100"} ${item.id === "6" && "opacity-0 md:opacity-100"}`}
              >
                <span class="arrows-body" />
                <span class="arrows-head" />
                <span class="arrows-head-after" />
              </div>
            </div>
          </>
        ))
      }
      <button
        class="bg-[#f97316] rounded-md text-white py-2 font-semibold col-start-3 row-start-4 md:col-start-4 mt-5 flex justify-center items-center gap-1 px-3 hover:opacity-85"
        ><img src="/icons/send.svg" /><span>Get Qoutes</span></button
      >
    </div>
  </main>
</Layout>

<style>
  .arrows-body {
    width: 30px;
    height: 30px;
    background-color: white;
    rotate: 90deg;
    z-index: 10;
    position: absolute;
    left: -20px;
    bottom: 2px;
    box-shadow: 2px 0px 1px 0px rgb(161 161 161 / 33%);
    z-index: 1;
  }
  .arrows-head {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 35px solid white;
    rotate: 90deg;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    z-index: 10;
  }
  .arrows-head-after {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 35px solid #ccc;
    rotate: 90deg;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 9;
    top: 1px;
  }

  .underline-arrow::after {
    content: "";
    display: block;
    width: 60px;
    height: 1px;
    background-color: #f1873d;
    position: absolute;
    bottom: -5px;
    left: 55%;
    transform: translateX(-50%);
  }
  .underline-arrow::before {
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    background-color: #f1873d;
    border-radius: 50%;
    position: absolute;
    bottom: -7px;
    left: calc(55% + 30px);
    rotate: 270deg;
  }
</style>
